<nav class="sticky z-[2] top-0 bg-black/10  p-5 border-b backdrop-blur-md border-gray-400/20">
    <div class="container mx-auto flex  justify-between items-center">
        <div class="flex items-center">
           
  
            <h1 class="text-white text-2xl ml-2 font-bold">}<(((*></h1>
        </div>
        <div class="hidden md:flex space-x-10">
    
            <a href="#home" class="font-medium text-gray-300 hover:text-gray-100 transitions-all duration-200">Home</a>
            <a href="#features" class="font-medium text-gray-300 hover:text-gray-100 transitions-all duration-200">Features</a>
            <a href="#prices" class="font-medium text-gray-300 hover:text-gray-100 transitions-all duration-200">Prices</a>
            <a href="https://discord.gg/scanner" class="font-medium text-gray-300 hover:text-gray-100 transitions-all duration-200">Discord</a>
        </div>
        <div>
           
            <button onclick="location.href='https:\/\/anticheat.site/login/discord/'" class="bg-white text-black/90 border border-transparent  font-semibold  px-8 py-1 rounded-full hover:bg-zinc-900 hover:text-gray-300 transitions-all duration-300">Login</button>
        </div>
    </div>
</nav>
